
/*
* style.css external file
*
* External CSS is like having a style guide book.
* Every HTML page can “read” the same book and 
* follow the same rules.
*/
h2 {
    color: rgba(180, 43, 89, 0.818);
    text-align: center;
}
.big {
    font-size: 24pt;
}